@model IEnumerable<ControleFutebolWeb.Models.Nota>

<h2>Notas dos Jogadores</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Cadastrar Nova Nota</a>
</p>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Jogador</th>
            <th>Jogo</th>
            <th>Nota</th>
            <th>Comentário</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nota in Model)
        {
            <tr>
                <td>@nota.Jogador?.Nome</td>
                <td>
                    @nota.Jogo?.TimeCasa?.Nome (@nota.Jogo?.PlacarCasa)
                    x
                    @nota.Jogo?.TimeVisitante?.Nome (@nota.Jogo?.PlacarVisitante)
                    @if (nota.Jogo?.PenaltisCasa.HasValue == true && nota.Jogo?.PenaltisVisitante.HasValue == true)
                    {
                        <span class="text-muted">(@nota.Jogo.PenaltisCasa-@nota.Jogo.PenaltisVisitante pên.)</span>
                    }
                    - @ControleFutebolWeb.Helpers.DateHelper.FormatarData(nota.Jogo?.Data, "dd/MM/yyyy")
                </td>
                <td>@nota.Valor</td>
                <td>@nota.Comentario</td>
            </tr>
        }
    </tbody>
</table>
</div>